<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mem">

	<select id="cnt" resultType="java.lang.Integer">
		select count(*) from mem
	</select>
	
	<select id="all" resultType="part02.dto.MemDTO">
		select * from mem
		order by num
	</select>
	
	<!-- insert할 때 null 값을 허용할때는 #{컬럼명, jdbcType=VARCHAR} -->
	<insert id="ins" parameterType="part02.dto.MemDTO">
		insert into mem(name, age, loc)
		values(#{name}, #{age}, #{loc})
	</insert>
	
	<update id="upt" parameterType="java.util.HashMap">
		update mem
		set name = #{name}, age = #{age}, loc = #{loc}
		where num = #{num}	
	</update>
	
	<delete id="del" parameterType="int">
		delete from mem
		where num=#{num}
	</delete>
	
	<insert id="multiIns" parameterType="java.util.List">
		insert into mem(name, age, loc) values
		<foreach collection="list" item="element" index="no" separator=",">
			(#{element.name}, #{element.age}, #{element.loc})
		</foreach>
		
	</insert>
  
  <delete id="multiDel">
  	delete from mem
  	where num in(
		<foreach collection="array" item="element" separator=",">
			#{element}
		</foreach>  	
  	)
  </delete>
  
  <!-- dynamic if -->
  <select id="search" parameterType="part02.dto.MemDTO" resultType="part02.dto.MemDTO">
  	select * from mem
  	<!-- <where>
  		<if test = "name!=null">
  			name like concat('%' , #{name} , '%')
  		</if>
  		
  		<if test = "age!=0">
  			or age > #{age}
  		</if>
  	</where> -->
  	
  	<trim prefix="where" suffixOverrides="or|and">
  		<if test = "name!=null">
  			name like concat('%' , #{name} , '%') or 
  		</if>
  		
  		<if test = "age!=0">
  			age > #{age}
  		</if>
  	</trim>
  </select>  
  
  
  <!-- 다중 update -->
  <update id="multiUpdate" parameterType="part02.dto.MemDTO">
  	update mem
  	<set>
  		<if test="name != null">
  			name = #{name},
  		</if>
  		
  		<if test = 'age!= 0'>
  			age = #{age},
  		</if>
  		
  		<if test="loc != null">
  			loc = #{loc}
  		</if>
  	</set>
  	where num = #{num}
  </update>
  
  <!-- choose 동적 sql (if~else) -->
  <insert id="insData" parameterType="part02.dto.MemDTO">
  	insert into mem(name, age, loc)
  	values(#{name}, #{age},
  	<choose>
  		<when test="loc == null">
  			'test'
  		</when>
  		<otherwise>
  		 #{loc}
  		</otherwise>
  	</choose>
  	)
  </insert>
  
  
  
  
</mapper>